.card{
  width: 380px;
}

.form input:focus {
  box-shadow: none;
}

.card .nav{
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  font-family: "Inter, 'sans-serif'";
  text-transform: uppercase;
}

.card .nav .nav-item .active {
  border-top: 5px black solid;
  font-weight: bold;
}

.nav-item{
  background-color: white;
}

.card .tab-content .btn{
  width: 130px;
  margin: auto;
  font: 20px Jura;
  text-transform: uppercase;
  background-color: #000;
}

.card input{
  font-family: "Inter";
  font-weight: lighter;
  border: #000 1px solid;
  color: black;
}

.card .login{
  height: 220px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}