@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

h2{
    font-family: 'Jura';
}

.btn{
    font: 20px Jura;
    text-transform: uppercase;
    background-color: #000;
}

input.form-control,
textarea.form-control {
    border-color: black;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
    color: #999;
}

input.form-control:focus,
textarea.form-control:focus {
    /* border-color: black; */
    box-shadow: none;
}
